* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Andika New Basic, sans-serif;
    line-height: 2;
  }
  
  body {
    background-color:#141E27;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('imagens/digitando.jpg');
    background-size: cover;
    background-position: 15% 15%;
  }

  #minha_foto {
    margin-top: 40px;
    width: 40%;
    border-radius: 50%;
  }

  #header_title{
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 5em;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #000;
  }
 
  #header_subtitle {
    color: white;
    text-align: center;
    font-size: 3em;
    padding-top: 0;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;  
  }

  nav {
    padding-top: 50px;
    text-align: center;
    width: 100%;
  }

  #nav_menu {
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .menu_principal {
    list-style-type: none;
    font-size: 1.3em;
    justify-content: space-evenly;
    padding: 15px;
    width: 100%;
  }

  #nav1 {
      animation: animate 5s linear infinite;
  }

  @keyframes animate {
    20% {
      background-color: #0c1218;
    }
    50% {
      background-color: transparent;
    }
  }

  #nav2 {
    animation: animate2 5s linear infinite;
}

@keyframes animate2 {
    0% {
        background-color: transparent;  
    }

    20% {
        background-color: transparent;
    }

    40% {
    background-color: #0c1218;
    }

    70% {
        background-color: transparent;
    }
}

#nav3 {
    animation: animate3 5s linear infinite;
}

@keyframes animate3 {
    0% {
        background-color: transparent;  
    }

    20% {
        background-color: transparent;
    }

    40% {
        background-color: transparent;
    }

    70% {
        background-color: #0c1218;
    }
}

#nav4 {
    animation: animate4 5s linear infinite;
}

@keyframes animate4 {
    0% {
        background-color: transparent;  
    }

    20% {
        background-color: transparent;
    }

    40% {
        background-color: transparent;
    }

    70% {
        background-color: transparent;
    }

    100% {
        background-color: #0c1218;
    }
    
}
  
  .menu_principal a{
    font-size: 2em;
    color: white;
    text-decoration: none;
  }
   
  #barra_principal {
    text-align: center;
    background-color:#bdd3d6;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
  }
  
  #barra_principal h2 {
    padding-top: 30px;
    font-weight: bolder;
    padding-bottom: 40px;
  }
  
  #barra_principal h3 {
    font-size: 4em;
    font-weight: bolder;
    padding-bottom: 40px;
  }
  
  #barra_principal h4 {

    font-size: 2em;
    padding: 60px 0px 60px 0px;
  }
  
  #resume {
    margin: 0px 60px 60px 40px;
  }

  #barra_principal li {
    color: white;
    padding: 60px;
    text-align: justify;
    list-style-type: none;
    background-color: #0c1218;
    margin: 0px 0px 80px 0px;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
  }

  h5 {
    font-size: 2.3em;
  }

  #barra_principal li img {
      width: 100%;
      margin-top: 60px;
      border: 20px solid transparent;
      animation: animateImg 5s linear infinite;
  }
  @keyframes animateImg {
    0 %{
        border: 20px solid transparent;
    }
    25% {
        border: 20px solid #bdd3d6;
    }
    50% {
        border: 20px solid transparent;
    }
    75% {
        border: 20px solid #bdd3d6;
    }
  }

  #barra_principal li p {
    font-size: 2.3em;
    margin: 80px 0px 10px 0px;
  }
  
  .minhas_listas {
    margin-left: 30px;
    padding-left: 10px;
    padding-top:10px;
  }
  
  #foto_trabalho{
    padding-top: 40px;
    width: 700px;
    opacity: 0.8;
  }
  
  footer {
    background-size: cover;
    background-position: 25%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #0c1218;
  }
