* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Andika New Basic, sans-serif;
    line-height: 2;
  }
  
body {
  background-image: url('imagens/cosmos.jpg');
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('imagens/digitando.jpg');
  background-size: cover;
  background-position: 15% 15%;
}

#header-image {
  margin-top: 40px;
  width: 40%;
  border-radius: 50%;
}

#header_title {
  padding-top: 20px;
  color: white;
  text-align: center;
  font-size: 6em;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #000;
}

#header_subtitle {
  color: white;
  text-align: center;
  font-size: 3em;
  padding-top: 0;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;  
}

nav {
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

#nav_menu {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.menu_principal {
  list-style-type: none;
  font-size: 1.3em;
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
}

#nav1 {
  animation: animate 5s linear infinite;
}

@keyframes animate {
  20% {
    background-color: #0c1218;
  }
  50% {
    background-color: transparent;
  }
}

#nav2 {
  animation: animate2 5s linear infinite;
}

@keyframes animate2 {
  0% {
    background-color: transparent;  
  }
  20% {
    background-color: transparent;
  }
  40% {
    background-color: #0c1218;
  }
  70% {
    background-color: transparent;
  }
}

#nav3 {
  animation: animate3 5s linear infinite;
}

@keyframes animate3 {
  0% {
    background-color: transparent;  
  }
  20% {
    background-color: transparent;
  }
  40% {
    background-color: transparent;
  }
  70% {
    background-color: #0c1218;
  }
}

#nav4 {
  animation: animate4 5s linear infinite;
}

@keyframes animate4 {
  0% {
    background-color: transparent;  
  }
  20% {
    background-color: transparent;
  }
  40% {
    background-color: transparent;
  }
  70% {
    background-color: transparent;
  }
  100% {
    background-color: #0c1218;
  }   
}
  
.menu_principal a {
  font-size: 2em;
  color: white;
  text-decoration: none;
}
   
#barra_principal {
  text-align: center;
  padding-top: 80px;
}

#secao_apresentacao {
  padding: 50px;
}
  
#barra_principal h2 {
  padding-top: 30px;
  font-weight: bolder;
  padding-bottom: 40px;
}
  
h3 {
  font-size: 2.5em;
  font-weight: bolder;
  padding: 80px 0px 80px 0px;
}
  
.resume {
  margin: 0px 60px 60px 40px;
  font-weight: bolder;
  font-size: 1.5em;
}

.listas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.minhas_listas {
  color: white;
  border-radius: 15px;
  width: 70%;
  padding: 60px;
  text-align: justify;
  list-style-type: none;
  background-color: rgb(52, 66, 80);
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction:column;
  align-items: center;
  font-weight: bolder;
}

h5 {
  font-size: 2.3em;
}

#barra_principal li img {
  width: 70%;
  margin-top: 60px;
  border: 20px solid transparent;
  border-radius: 15px;
  animation: animateImg 5s linear infinite;
}

@keyframes animateImg {
  0% {
    border: 20px solid transparent;
  }
  25% {
    border: 20px solid #141E27;
  }
  50% {
    border: 20px solid transparent;
  }
  75% {
    border: 20px solid #141E27;
  }
}

#barra_principal li p {
  font-size: 2.3em;
  margin: 80px 0px 10px 0px;
}

#hobbys {
  margin: 40px;
  padding: 40px;
}

#hobbys ul {
  padding-top: 40px;
  padding-left: 100px;
}
 
.meusHobbys {
  list-style-type: numeric;
  text-align: left;
  font-size: 2em;
}

#foto_trabalho {
  padding-top: 40px;
  width: 100%;
  opacity: 0.8;
}

.dados_pessoais {
  list-style-type: none;
  padding: 80px 0 80px 0;
}

hr {
  margin-bottom: 60px;
}
  
footer {
  text-align: center;
  background-size: cover;
  background-position: 25%;
  color: white;
  padding: 60px;
  background-color: #0c1218;
}
/* 
@media screen and (max-width: 2000px) and (min-width: 800px) {

  body {
    background-image: url('imagens/fundo2.jpg');
    background-size: contain;
    color: white;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('imagens/digitando.jpg');
    background-size: cover;
    background-position: 15% 15%;
  }
  
  #header-image {
    display: none;
  }

  #header_title {
    padding-top: 0px;
    font-size: 4em;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
  }

  #header_subtitle {
    font-size: 2em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;  
  }

  nav {
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }

  #nav_menu {
    display: flex;
    flex-direction: row;
    align-items:center;
  }
  
  .menu_principal {
    list-style-type: none;
    font-size: 0.6em;
    justify-content: space-evenly;
    padding: 4px;
    width: 100%;
  }

  #barra_principal h2 {
    padding-top: 0px;
    font-weight: bolder;
    padding-bottom: 40px;
  }

  h3 {
    font-size: 2.5em;
    font-weight: bolder;
    padding: 10px 0px 10px 0px;
  }

  #barra_principal {
    text-align: left;
    padding-top: 0px;
  }

  .resume {
    margin: 0px 0px 0px 0px;
    width: 80%;
    font-weight: bolder;
    font-size: 1em;
    padding-bottom: 20px;
  }

  #segundo-h3 {
    font-size: 1.3em;
  }

  .listas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin: 0px 20px 0px 20px;
  }
  
  .minhas_listas {
    margin: 0px 20px 50px 20px;
    color: white;
    border-radius: 15px;
    width: 25%;
    padding: 30px;
    text-align: justify;
    list-style-type: none;
    background-color: rgb(52, 66, 80);
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items:center;
    font-weight: bolder;
    height: 110vh;
  }

  .minha_xp {
    height: 50vh;
  }

  #barra_principal li p {
    font-size: 0.9em;
    margin: 30px 0px 10px 0px;
  }

  h5 {
    font-size: 1em;
  }

  #barra_principal li img {
    width: 70%;
    margin-top: 20px;
    border: 5px solid transparent;
    border-radius: 15px;
    animation: animateImg 5s linear infinite;
  }

  @keyframes animateImg {
    0% {
      border: 5px solid transparent;
    }
    25% {
      border: 5px solid #141E27;
    }
    50% {
      border: 5px solid transparent;
    }
    75% {
      border: 5px solid #141E27;
    }
  }

  #secao_apresentacao {
    padding: 50px 50px 30px 50px;
  }

  .h3 {
    margin-left: 40px;
    font-size: 2em;
  }

  #hobbys {
    margin: 0px;
    padding: 0px 50px;
  }
  
  #hobbys ul {
    padding-top: 5px;
    padding-left: 25px;
  }
   
  .meusHobbys {
    list-style-type: numeric;
    text-align: left;
    font-size: 1em;
  }
  
  #foto_trabalho {
    display: none;
    padding-top: 40px;
    width: 60%;
  }

  .dados_pessoais {
    padding: 10px 0 10px 0;
  }

  hr {
    margin-bottom: 10px;
  }

  footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
} */