.about {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    background-image: url('../images/3.png');
    background-size: cover;
}

@media screen and (max-width: 910px) {
    .about {
        flex-direction: column-reverse;
        position: relative;
        align-items: flex-start;
        justify-content: flex-end;
        height: 1100px;
    }
}