footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px;
    padding-right: 10px;
    background-color: white;
    width: 100%;
    position: relative;
    z-index: 1;
}

.footer-copyright {
    margin-top: 5px;
}

.paragraph-footer {
    text-align: right;
    margin-bottom: 0;
    font-size: 1.3vw;
}

@media screen and (max-width: 910px) {
    footer {
        flex-direction: column;
        z-index: 2;
        position: relative;
    }

    .paragraph-footer {
        text-align: center;
        width: 60%;
        margin: auto;
    }
}