.home {
    display: flex;
    flex-direction: column;
}

.section-content {
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.title-text {
    display: flex;
    align-items: flex-end;
    font-size: 3vw;
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
}

.paragraph-text {
    margin-bottom: 0;
    line-height: 1.6;
    font-size: 1.3vw;
}

.aside-image {
    margin: 20px;
    width: 40%;
}

.img-aside {
    width: 100%;
    border-radius: 50%;
    margin-right: 0;
    border: 5px solid white;
}

@media screen and (max-width: 910px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
    }

    .section-content {
        align-items: flex-start;
        justify-content: left;
        width: 100%;
        padding: 0;
        height: 500px;
        margin: 0;
    }

    .aside-image {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-aside {
        margin-right: 0;
        width: 85%;
        margin-top: 10%;
        border: 5px solid white;
    }

    .section-content>div {
        width: 100%;
    }

    .title-text {
        height: 20vh;
        display: flex;
        justify-content: center;
        font-size: 28px;
        padding-top: 10%;
        margin: 0 0 40px 0;
    }

    article {
        height: 70vh;
        width: 100%;
    }

    .paragraph-text {
        font-size: 18px;
        text-align: center;
        line-height: 2;
        margin: 0 4%;
    }
}