.container-list-images {
    width: 50%;
}

.container-img {
    width: 100%;
    padding-top: 25vh;
    position: relative;
    min-height: 70vh;
}

.img-academics {
    margin-left: 30px;
    width: 100%;
}

.img-eter {
    transform: rotate(2deg);
    position: absolute;
    opacity: 0.4;
}

.img-nassau {
    transform: rotate(-10deg);
    position: absolute;
    opacity: 0.4;
}

.img-ufcg {
    transform: rotate(-10deg);
    position: absolute;
    opacity: 0.4;
}

.img-trybe {
    transform: rotate(11deg);
    position: absolute;
    opacity: 0.4;
}

.img-orbitall {
    transform: rotate(-6deg);
    position: absolute;
    opacity: 0.4;
}

.img-aec {
    transform: rotate(4deg);
    position: absolute;
    opacity: 0.4;
}

.img-selected {
    border: 7px solid white;
    z-index: 2;
    opacity: 1;
    transition: opacity 1s;
}

.btn-arrow-mobile {
    display: none;
}

@media screen and (max-width: 910px) {

    .container-list-images {
        display: flex;
        width: 100%;
    }

    .container-img {
        width: 100%;
        min-height: 40vh;
        padding-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .academics-content {
        flex-direction: column;
    }

    .img-academics {
        margin-left: 10px;
        width: 90%;
        max-width: 400px;
    }

    .academics-text-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        font-size: 18px;
        padding-top: 30px;
    }

    .btn-arrow-mobile {
        display: flex;
        position: relative;
        z-index: 10;
        font-size: 50px;
        align-items: center;
        background-color: transparent;
        border: none;
    }
}

@media screen and (max-width: 350px) {
    .container-img {
        min-height: 30vh;
    }
}

@media screen and (min-width: 351px) and (max-width: 400px) {
    .container-img {
        min-height: 35vh;
    }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
    .container-img {
        min-height: 40vh;
    }
}

@media screen and (min-width: 431px) and (max-width: 480px) {
    .container-img {
        min-height: 42vh;
    }
}

@media screen and (min-width: 481px) and (max-width: 500px) {
    .container-img {
        min-height: 45vh;
    }
}

@media screen and (min-width: 501px) {
    .container-img {
        min-height: 50vh;
    }
}